@import url('../app.css');

.form-container {
  border: 1px solid var(--blue-1);
  padding: 2em 1.5em;
  border-radius: 8px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.3em;
}

.form-input {
  padding: 1em;
  border: 1px solid var(--blue-1);
  border-radius: 4px;
}

.form-input:focus{
  outline: 1px solid var(--blue-1);
}

.form-submit {
  background-color: var(--blue-1);
  border: 1px solid var(--blue-1);
  border-radius: 4px;
  padding: .4em;
  cursor: pointer;
}

.form-submit h4 {
  color: var(--white);
}

.form-submit:hover{
  background-color: var(--blue-1-older);
}

/* textarea */
.textarea {
  max-width: 100%;
  min-height: 200px;
  resize: both;
  overflow: auto;
}

.textarea[placeholder]:empty:before {
  content: attr(placeholder);
}

.textarea[placeholder]:focus::before{
  content: "";
}