@import url('../app.css');

.form-container {
  border: 1px solid var(--blue-1);
  padding: 2em 1.5em;
  border-radius: 8px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.3em;
}

.form-input {
  padding: 1em;
  border: 1px solid var(--blue-1);
  border-radius: 4px;
}

.form-input:focus{
  outline: 1px solid var(--blue-1);
}

.form-submit {
  background-color: var(--blue-1);
  border: 1px solid var(--blue-1);
  color: var(--white);
  border-radius: 4px;
  padding: .8em;
  cursor: pointer;
}

.form-submit:hover{
  background-color: var(--blue-1-older);
}