@import url(../app.css);

/* thread */
.thread-lists {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  max-width: 880px;
}

.thread {
  border-bottom: 1px solid var(--divider);
  display: flex;
  padding: 1em 1.5em;
}

.thread__votes {
  display: flex;
  justify-content: center;
  padding: 0 1em;
}

.thread__data-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1em;
}

.thread__title-desc {
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.thread__title-desc h4 a {
  color: var(--blue-1);
}

.thread__title-desc div {
  color: var(--black);
  word-wrap:break-word;
  overflow-wrap: break-word;
}

.thread__title-desc h4 a:hover {
  text-decoration: underline;
}

.thread__etc {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.thread__etc span {
  display: inline-block;
}

.thread__etc svg {
  width: 20px;
  height: 20px;
}

.username {
  color: var(--blue-1);
}

.thread--truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* category */
.thread-categories-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.thread-category {
  background-color: transparent;
  border: 1px solid var(--blue-2);
  border-radius: 4px;
  color: var(--blue-2);
  cursor: default;
  padding: .3em 1em;
}

.thread-category:hover {
  outline: 1px solid var(--blue-2);
}

.category--active {
  background-color: var(--blue-2);
  color: white;
}

@media (min-width: 1024px) {
  .thread-lists {
    min-width: 640px !important;
  }
}