@import url('../app.css');

/* profile */
.profile {
  display: flex;
  align-items: center;
  gap: 1em;
}

.profile img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}