@import url('../app.css');

.register-page,
.login-page {
  display: flex;
}

.logo {
  color: var(--white);
  border: 2px solid var(--white);
  border-radius: 100%;
  width: 7rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-page__hero,
.login-page__hero {
  background-color: var(--blue-1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 16px 16px 0;
}

.register-page__main,
.login-page__main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-page__hero,
.register-page__main,
.login-page__hero,
.login-page__main {
  flex: 1;
}

.register-page__main article,
.login-page__main article {
  padding: 1em;
  width: 100%;
  max-width: 430px;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.headbar {
  text-align: center;
}

.headbar__subtitle {
  color: var(--grey);
}

.already-have-account,
.dont-have-account {
  margin-top: 1em;
}

.to-register,
.to-login {
  color: var(--blue-1);
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 768px) {
  .register-page__hero,
  .login-page__hero {
    display: none;
  }
}