@import url('../app.css');

.threads-page {
  display: flex;
}

.thread-lists-container {
  /* width: 80%; */
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 2.5em 1em;
}

.thread-side-contents {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding: 2.5em;
}

.categories-content {
  max-width: 250px;
}

.find-categories {
  color: var(--grey);
}

@media (max-width: 1024px) {
  .threads-page {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }

  .thread-lists-container {
    padding: 1em;
  }

  .thread-side-contents {
    padding: 2.5em 2.5em 1em 2.5em;
    border-bottom: 1px solid var(--divider);
  }

  .profile-content {
    display: none;
  }

  .categories-content {
    max-width: 100%;
  }
}